.mediaBtn {
  padding: 0;
  border: none;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
}

.diary {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
}

.productInfo {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.listStyle {
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}
